<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(find swarm_simulation)/worlds/warehouse.world" />

    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />

  </include>

  <!-- swarmbot 1 -->
  <group ns="redbot">
    <param name="tf_prefix" value="redbot_tf" />
    <include file="$(find swarm_simulation)/launch/bot.launch">
      <arg name="init_pose" value="-x 2.238828 -y 0.715577 -z 0.131826 -Y 3.14" />
      <arg name="robot_name" value="redbot" />
      <arg name="xacro_name" value="redbot" />
      <arg name="bot_no" value="1" />
    </include>
  </group>

  <!-- swarmbot 4 -->
  <!-- <group ns="greybot">
    <param name="tf_prefix" value="greybot_tf" />
    <include file="$(find swarm_simulation)/launch/bot.launch">
      <arg name="init_pose" value="-x 2.231433 -y 1.489499 -z 0.131826 -Y 3.14" />
      <arg name="robot_name" value="greybot" />
      <arg name="xacro_name" value="greybot" />
    </include>
  </group> -->

  <!-- swarmbot 2 -->
  <!-- <group ns="greenbot">
    <param name="tf_prefix" value="greenbot_tf" />
    <include file="$(find swarm_simulation)/launch/bot.launch">
      <arg name="init_pose" value="-x 2.077702 -y 2.077601 -z 0.131826 -Y 3.14" />
      <arg name="robot_name" value="greenbot" />
      <arg name="xacro_name" value="greenbot" />
    </include>
  </group> -->

  <!-- swarmbot 3 -->
  <!-- <group ns="bluebot">
    <param name="tf_prefix" value="bluebot_tf" />
    <include file="$(find swarm_simulation)/launch/bot.launch">
      <arg name="init_pose" value="-x 2.087766 -y 0.116019 -z 0.131826 -Y 3.14" />
      <arg name="robot_name" value="bluebot" />
      <arg name="xacro_name" value="bluebot" />
    </include>
  </group> -->


  <include file="$(find aruco_detector_ocv)/launch/detector.launch" />
  <!-- static tf for usb_cam from world -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="usb_camstatictf" args="0 0 1 -3.14 3.14 0 world usb_cam"/>
  <!-- static tf for reference from cam (used to get positive pose in co-ord sys) -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="usb_cam2refstatictf" args="-0.5 0.5 0 3.14 3.14 0 usb_cam reference"/>
 
</launch>


<!-- 0.883122 y 0.904034

0.881553 y -1.065827 -->
