<?xml version="1.0"?>
<robot name="greybot"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find swarm_simulation)/urdf/inertia.xacro" />
    <xacro:include filename="$(find swarm_simulation)/urdf/rim.urdf.xacro" />

    <link name="dummy"> </link>
    <link name="base_link">
        <!-- Intertial Values Using MACRO (Mass Adjusted As Required)  -->
        <xacro:box_inertia m="2.0" x="0.14" y="0.14" z="0.2" />

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://swarm_simulation/models/Grey_bot/grey_bot.dae"
                    scale="1 1 1" />
            </geometry>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://swarm_simulation/models/Grey_bot/grey_bot.dae"
                    scale="1 1 1" />
            </geometry>
        </collision>
    </link>

    <link name="aruco_tag">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.1" />
            <geometry>
                <mesh filename="package://swarm_simulation/models/aruco_tags/ID_4.dae" scale='1 1 1' />
            </geometry>
        </visual>
    </link>

    <!-- Dummy link -->
    <joint name="dummy_joint" type="fixed">
        <parent link="dummy" />
        <child link="base_link" />
        <origin xyz="0 0 0" />
    </joint>

    <joint name="aruco_joint" type="fixed">
        <parent link="base_link" />
        <child link="aruco_tag" />
        <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>

    <!-- Front wheel link -->

    <xacro:rim_macro
        name="front"
        robot_name="greybot"
        color="0 1 0"
        xyz="0 0.0585 -.0735"
        rpy="1.570796326794896 0.05 0" />

    <!-- Rear wheel link -->

    <xacro:rim_macro
        name="rear"
        robot_name="greybot"
        color="0 1 0"
        xyz="0 -0.0595 -.0735"
        rpy="1.570796326794896 0.05 3.14" />

    <!-- Left wheel link -->

    <xacro:rim_macro
        name="right"
        robot_name="greybot"
        color="0 1 0"
        xyz="0.0585 0 -.0735"
        rpy="1.570796326794896 0.05 -1.57" />

    <!-- Right Wheel link  -->

    <xacro:rim_macro
        name="left"
        robot_name="greybot"
        color="0 1 0"
        xyz="-0.0590 0 -.0735"
        rpy="1.570796326794896 0.05 1.57" />

    <!-- Should install sudo apt-get install ros-noetic-ros-control ros-noetic-ros-controllers -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/greybot</robotNamespace>
        </plugin>

    </gazebo>


</robot>